name: KE-complex_modifications-core CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: tests
        run: make -C tests
